extends layout


block content

block content1

    section
        h1 Impressum

block content2
  article
    table(align='center')
      tbody
        tr
          td
            p Maximilian Müller
            p 2324117
            p maximilian.müller@haw-hamburg.de

          td
            p Oliver Mau
            p 2301098
            p oliver.mau@haw-hamburg.de

          td
            p Abdullah Bataray
            p 2229938
            p abdullah.bataray@haw-hamburg.de

          td
            p Samin Afshar
            p 22156402
            p samin.afshar@haw-hamburg.de
